apiVersion: v1
kind: ConfigMap
metadata:
  name: botium-box-configmap
  labels:
    name: config
    app: botium-box
data:
  PRISMA_ENDPOINT: "{{ .Values.PRISMA_ENDPOINT }}"
  LICENSE_KEY: "{{ .Values.LICENSE_KEY }}"
  COACH_WORKER_ENDPOINT: "{{ .Values.COACH_WORKER_ENDPOINT }}"
  SPEECH_PROCESSING_ENDPOINT: "{{ .Values.SPEECH_PROCESSING_ENDPOINT }}"
  PRISMA_CONFIG_FILE: /app/prisma-config/prisma-config.json
  BOTIUMBOX_AUDIT_FOLDER: /app/prisma-config/audit
  {{- if .Values.ACTIVATE_ZAP }}
  ZAP_ENDPOINT: http://{{ .Values.ZAP_SERVICE }}:8080
  {{- end }}
  SMTP_HOST: "{{ .Values.SMTP_HOST }}"
  SMTP_PORT: "{{ .Values.SMTP_PORT }}"
  BOTIUMBOX_AGENT_LIST: "{{ .Values.BOTIUMBOX_AGENT_LIST }}"
  BOTIUMBOX_QUEUE_PREFIX: "{{ .Values.BOTIUMBOX_QUEUE_PREFIX }}"
  BOTIUMBOX_CLEANUP_JOB_INTERVAL_MINUTES: "{{ .Values.BOTIUMBOX_CLEANUP_JOB_INTERVAL_MINUTES }}"
  BOTIUMBOX_KEEP_SUCCESS_SCREENSHOTS_DAYS: "{{ .Values.BOTIUMBOX_KEEP_SUCCESS_SCREENSHOTS_DAYS }}"
  BOTIUMBOX_KEEP_SUCCESS_CONVERSATION_DAYS: "{{ .Values.BOTIUMBOX_KEEP_SUCCESS_CONVERSATION_DAYS }}"
  BOTIUMBOX_KEEP_FAILED_SCREENSHOTS_DAYS: "{{ .Values.BOTIUMBOX_KEEP_FAILED_SCREENSHOTS_DAYS }}"
  BOTIUMBOX_KEEP_FAILED_CONVERSATION_DAYS: "{{ .Values.BOTIUMBOX_KEEP_FAILED_CONVERSATION_DAYS }}"
  BOTIUMBOX_KEEP_COACH_DETAILS_DAYS: "{{ .Values.BOTIUMBOX_KEEP_COACH_DETAILS_DAYS }}"
  NODE_OPTIONS: "{{ .Values.NODE_OPTIONS }}"
